<div class="table-container">
  <div class="table-scrollable" *ngIf="displayMode === true">
    <table>
      <tr *ngFor="let row of getRows(products)">
        <td *ngFor="let product of row">
          <app-ui-card-product [product]="product"></app-ui-card-product>
        </td>
      </tr>
    </table>
  </div>
  <ng-container *ngIf="displayMode === false">
    <div class="table-band">
      <app-ui-band-product *ngFor="let product of products" [products]="product"></app-ui-band-product>
    </div>
  </ng-container>
</div>

