.table-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: none;

  .table-scrollable {
    width: 100%;
    height: 100%;
    max-height: 440px;
    overflow-y: auto;
    overflow-x: hidden;
    border: none;
  }

  .table-band {
    width: 100%;
    height: 100%;
    padding-bottom: 4px;
    max-height: 440px;
    overflow-y: auto;
    overflow-x: hidden;
    border: none;
  }
}


table {
  width: 100%;
  border-collapse: collapse;
}

td {
  vertical-align: top;
}
