<div class="toolbar">
  <form class="left-content" [formGroup]="form">
    <select id="sort" class="form-control" formControlName="sort">
      <option value="" disabled selected>Sort By</option>
      <option [value]="option.url" *ngFor="let option of options">{{option.label}}</option>
    </select>
    <div class="search-form">
      <label>
        <i class="pi pi-search search-icon"></i>
        <input
          type="search"
          formControlName="search"
          class="search-input"
          [placeholder]="'Search'"
        >
      </label>
    </div>
  </form>
  <div class="right-content">
    <label class="switch">
      <input class="switch-input" type="checkbox" (change)="toggleView()">
      <div class="switch-button">
        <span class="switch-button-left">
          <i class="pi pi-th-large"></i>
        </span>
        <span class="switch-button-right">
          <i class="pi pi-bars"></i>
        </span>
      </div>
    </label>
  </div>
</div>
